<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>Question</key>
			<string>ألف</string>
			<key>CorrectAnswer</key>
			<string>A</string>
			<key>Answers</key>
			<array>
				<string>A</string>
				<string>D</string>
				<string>I</string>
				<string>ḥ</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>باء</string>
			<key>CorrectAnswer</key>
			<string>B</string>
			<key>Answers</key>
			<array>
				<string>E</string>
				<string>A</string>
				<string>B</string>
				<string>I</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>تاء</string>
			<key>CorrectAnswer</key>
			<string>T</string>
			<key>Answers</key>
			<array>
				<string>T</string>
				<string>J (also ǧ, g )</string>
				<string>D</string>
				<string>B</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ثاء</string>
			<key>CorrectAnswer</key>
			<string>TH (also ṯ )</string>
			<key>Answers</key>
			<array>
				<string>J (also ǧ, g )</string>
				<string>B</string>
				<string>ḥ</string>
				<string>TH (also ṯ )</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>جيم</string>
			<key>CorrectAnswer</key>
			<string>J (also ǧ, g )</string>
			<key>Answers</key>
			<array>
				<string>O</string>
				<string>dh (also ḏ )</string>
				<string>ḥ</string>
				<string>J (also ǧ, g )</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>حاء</string>
			<key>CorrectAnswer</key>
			<string>ḥ</string>
			<key>Answers</key>
			<array>
				<string>D</string>
				<string>ḥ</string>
				<string>KH (also ḫ, ḵ )</string>
				<string>Z</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>خاء</string>
			<key>CorrectAnswer</key>
			<string>KH (also ḫ, ḵ )</string>
			<key>Answers</key>
			<array>
				<string>A</string>
				<string>DH (also ḏ )</string>
				<string>D</string>
				<string>KH (also ḫ, ḵ )</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>دال</string>
			<key>CorrectAnswer</key>
			<string>D</string>
			<key>Answers</key>
			<array>
				<string>Z</string>
				<string>D</string>
				<string>S</string>
				<string>B</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ذال</string>
			<key>CorrectAnswer</key>
			<string>DH (also ḏ )</string>
			<key>Answers</key>
			<array>
				<string>DH (also ḏ )</string>
				<string>R</string>
				<string>A</string>
				<string>Z</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>راء</string>
			<key>CorrectAnswer</key>
			<string>R</string>
			<key>Answers</key>
			<array>
				<string>R</string>
				<string>S</string>
				<string>Z</string>
				<string>A</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>زاي</string>
			<key>CorrectAnswer</key>
			<string>Z</string>
			<key>Answers</key>
			<array>
				<string>ḍ</string>
				<string>S</string>
				<string>s</string>
				<string>Z</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>سين</string>
			<key>CorrectAnswer</key>
			<string>S</string>
			<key>Answers</key>
			<array>
				<string>B</string>
				<string>sh (also š )</string>
				<string>S</string>
				<string>ṭ</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>شين</string>
			<key>CorrectAnswer</key>
			<string>SH (also š )</string>
			<key>Answers</key>
			<array>
				<string>S</string>
				<string>SH (also š )</string>
				<string>T</string>
				<string>A</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>صاد</string>
			<key>CorrectAnswer</key>
			<string>ṣ</string>
			<key>Answers</key>
			<array>
				<string>ṭ</string>
				<string>ṣ</string>
				<string>ḍ</string>
				<string>B</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ضاد</string>
			<key>CorrectAnswer</key>
			<string>ḍ</string>
			<key>Answers</key>
			<array>
				<string>A</string>
				<string>Z</string>
				<string>GH (also ġ, ḡ )</string>
				<string>ḍ</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>طاء</string>
			<key>CorrectAnswer</key>
			<string>ṭ</string>
			<key>Answers</key>
			<array>
				<string>ẓ</string>
				<string>A</string>
				<string>F</string>
				<string>ṭ</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ظاء</string>
			<key>CorrectAnswer</key>
			<string>ẓ</string>
			<key>Answers</key>
			<array>
				<string>ẓ</string>
				<string>‘  (also  ʿ  )</string>
				<string>B</string>
				<string>Q</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>عين</string>
			<key>CorrectAnswer</key>
			<string>‘  (also  ʿ  )</string>
			<key>Answers</key>
			<array>
				<string>F</string>
				<string>B</string>
				<string>‘  (also  ʿ  )</string>
				<string>GH (also ġ, ḡ )</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>غين</string>
			<key>CorrectAnswer</key>
			<string>GH (also ġ, ḡ )</string>
			<key>Answers</key>
			<array>
				<string>F</string>
				<string>B</string>
				<string>Y</string>
				<string>GH (also ġ, ḡ )</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>فاء</string>
			<key>CorrectAnswer</key>
			<string>F</string>
			<key>Answers</key>
			<array>
				<string>B</string>
				<string>F</string>
				<string>T</string>
				<string>Q</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>قاف</string>
			<key>CorrectAnswer</key>
			<string>Q</string>
			<key>Answers</key>
			<array>
				<string>N</string>
				<string>M</string>
				<string>Q</string>
				<string>Z</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>كاف</string>
			<key>CorrectAnswer</key>
			<string>K</string>
			<key>Answers</key>
			<array>
				<string>A</string>
				<string>S</string>
				<string>K</string>
				<string>I</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>لام</string>
			<key>CorrectAnswer</key>
			<string>L</string>
			<key>Answers</key>
			<array>
				<string>L</string>
				<string>B</string>
				<string>Z</string>
				<string>M</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ميم</string>
			<key>CorrectAnswer</key>
			<string>M</string>
			<key>Answers</key>
			<array>
				<string>M</string>
				<string>N</string>
				<string>H</string>
				<string>A</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>نون</string>
			<key>CorrectAnswer</key>
			<string>N</string>
			<key>Answers</key>
			<array>
				<string>N</string>
				<string>w / ū</string>
				<string>B</string>
				<string>M</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>هاء</string>
			<key>CorrectAnswer</key>
			<string>H</string>
			<key>Answers</key>
			<array>
				<string>A</string>
				<string>w / ū</string>
				<string>H</string>
				<string>Z</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>واو</string>
			<key>CorrectAnswer</key>
			<string>w / ū</string>
			<key>Answers</key>
			<array>
				<string>H</string>
				<string>y / ī</string>
				<string>T</string>
				<string>w / ū</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>ياء</string>
			<key>CorrectAnswer</key>
			<string>y / ī</string>
			<key>Answers</key>
			<array>
				<string>y / ī</string>
				<string>M</string>
				<string>B</string>
				<string>F</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
