<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<dict>
			<key>Question</key>
			<string>٠</string>
			<key>CorrectAnswer</key>
			<string>0</string>
			<key>Answers</key>
			<array>
				<string>1</string>
				<string>3</string>
				<string>2</string>
				<string>0</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>١</string>
			<key>CorrectAnswer</key>
			<string>1</string>
			<key>Answers</key>
			<array>
				<string>1</string>
				<string>0</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>٢</string>
			<key>CorrectAnswer</key>
			<string>2</string>
			<key>Answers</key>
			<array>
				<string>3</string>
				<string>0</string>
				<string>5</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>٣</string>
			<key>CorrectAnswer</key>
			<string>3</string>
			<key>Answers</key>
			<array>
				<string>3</string>
				<string>7</string>
				<string>0</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>٤</string>
			<key>CorrectAnswer</key>
			<string>4</string>
			<key>Answers</key>
			<array>
				<string>3</string>
				<string>1</string>
				<string>4</string>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>٥</string>
			<key>CorrectAnswer</key>
			<string>5</string>
			<key>Answers</key>
			<array>
				<string>7</string>
				<string>5</string>
				<string>2</string>
				<string>4</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>٦</string>
			<key>CorrectAnswer</key>
			<string>6</string>
			<key>Answers</key>
			<array>
				<string>6</string>
				<string>3</string>
				<string>7</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>٧</string>
			<key>CorrectAnswer</key>
			<string>7</string>
			<key>Answers</key>
			<array>
				<string>1</string>
				<string>8</string>
				<string>4</string>
				<string>7</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>٨</string>
			<key>CorrectAnswer</key>
			<string>8</string>
			<key>Answers</key>
			<array>
				<string>7</string>
				<string>9</string>
				<string>3</string>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>٩</string>
			<key>CorrectAnswer</key>
			<string>9</string>
			<key>Answers</key>
			<array>
				<string>2</string>
				<string>1</string>
				<string>9</string>
				<string>7</string>
			</array>
		</dict>
		<dict>
			<key>Question</key>
			<string>١٠</string>
			<key>CorrectAnswer</key>
			<string>10</string>
			<key>Answers</key>
			<array>
				<string>0</string>
				<string>7</string>
				<string>1</string>
				<string>10</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
